.row-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.row-container-3columns {
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

.row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
}

/* .row-dragging td {
    padding: 18px 70px 0 15px;
} */

.row-dragging .drag-visible {
    visibility: visible;
}

.content-container {
    padding: 40px 10px 40px 40px;
    margin: 0;
    overflow: hidden;
    border: 1px solid #d7d7dc;
}

.ant-radio-disabled+span {
    color: black;
    cursor: pointer;
}