._NoBorder {
    border: 0px !important;
}

._TopBorder {
    border-top: 1px solid #d7d7dc !important;
}

._Pointer {
    cursor: pointer !important;
}

._Padding {
    padding: 1vmax !important;
}

.ant-radio-wrapper {
  margin: 0;
}

._SubHeading {
    font-weight: 600;
    font-size: large;
    text-align: center;
}

._CenterInParent {
    align-self: center;
    width: 100%;
}

._RowGap {
    display: flex;
    gap: 3;
}

.AppSettings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
}

.AppSettings_TabContent {
    border-bottom: 1px solid #d7d7dc;
    border-right: 1px solid #d7d7dc;
    border-left: 1px solid #d7d7dc;
    border-radius: 2px;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid #d7d7dc;
    font-weight: 600;
    font-size: medium;
    width: 25%;
}

.BulkAssignment {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.BulkAssignment-ListGroup {
    display: flex;
}

.BulkAssignment-List {
    display: flex;
    flex-direction: column;
    border: 1px solid #d7d7dc;
    border-radius: 2px;
    overflow: hidden;
    margin-block-start: 1vmax;
    margin-inline: 3vmax;
    padding-bottom: 1%;
    width: 50%;
}

.BulkAssignment-ListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f6; 
    border-bottom: 1px solid #d7d7dc;
}

.BulkAssignment-ListHeader > span {
    padding-left: 7px;
}

.BulkAssignment-ListSubHeader {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f6; 
    border-bottom: 1px solid #d7d7dc;
    border-top: 1px solid #d7d7dc;
}

.BulkAssignment-ListSubHeader > span {
    margin-inline: 7px;
    transition: .3s ease-out;
}

.BulkAssignment-ListSubHeader > span:hover {
    color: var(--ant-primary-color);
}

.BulkAssignment-ListItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 1px 0px;
}

.Content-HeaderContainer, .Content-SubHeader {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f6;
    border: 1px solid #d7d7dc;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

.Content-HeaderTasks {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Content-HeaderTasks > h2 {
    margin: 0px;
}

.Content-ContainerButton {
    margin: 5px 5px 0px 0px;
    align-self: end;
}

.content-header > button {
    margin-left: auto;
    align-self: end;
}

.Content-SubHeader {
    justify-content: center;
}

.Content-ComponentView {
    display: flex;
    max-height: 65vmin;
    border: 1px solid #d7d7dc;
    border-top: 0px;
}

.ant-list {
    margin-right: 1px;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #d7d7dc #f5f5f6;
}

.ant-list::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #f5f5f6; 
}

.ant-list::-webkit-scrollbar-thumb {
  background: #d7d7dc;
  border-radius: 5px;
}

.Modal-Header {
    font-size: x-large;
}

.Modal-FormLabel {
    font-weight: 600;
    font-size: medium;
}

.ant-upload {
    width: 100% !important;
}

.Modal-UploadRulesContainer {
    display: flex;
}

.Modal-UploadRules {
    padding: 10;
}
