.content-container-policy {
    padding: 40px;
    margin: 0;
    overflow: hidden;
    border: 1px solid #d7d7dc;
    border-top: 0;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    border: 1px solid #d7d7dc;
}

.row-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-row-gap: 15px;
}

.ant-checkbox-disabled + span {
    color: rgba(0, 0, 0, 0.85) !important;
}

.select-type {
    width: 200px;
}

.select-time {
    width: 100px;
}

.checkbox-container > div {
    padding: 5px;
}

.content-header {
    display: flex;
    font-size: xx-large;
    font-weight: 600;
    padding: 5px 5px 0 5px;
    margin-bottom: 20px;
}