.filter-container {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: var(--grey-border);
    border-radius: 4px;
}

.filter-container > * {
    padding: 20px 20px 10px 20px;
}

.ant-picker {
    margin-right: 30px;
}

.log-container {
    border: var(--grey-border);
    border-radius: 4px;
    margin-top: 40px;
}

.log-field-container {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-row-gap: 15px;
    padding: 20px
}